<div class=" Cuadrado @ModeloCuadrado.Style" @onmouseup=ValidateHit></div>

@code {
    [Parameter]
    public EventCallback Click { get; set; }

    [Parameter]
    public ModeloCuadrado ModeloCuadrado { get; set; }

    private void ValidateHit()
    {
        Click.InvokeAsync(new EventArgs());
    }
}